//Feedback
footer#footer
	#feedback
		//feedback form
		.feedback-form
			form(action="index.html" method="post")
				legend
					h2 Запись на сервис

				div
					label(for="name") Имя:
					//.active-label
					input(type="text" id="name" name="user-name")
				div
					label(for="mail") Почта:
					input(type="email" id="mail" name="user-mail")
				div
					label(for="message") Сообщение:
					textarea(id="message" name="user-message")

				div
					button.btn(type="submit") Отправить <span></span>

		.feedback__img

	.color-line

.social
	a(href="#") Facebook
	a(href="#") Twitter
	a(href="#") Instagram

.copyright
	p РЕПАССАЖ — салон часового искусства. Сочи 2016 ©