header#site-header
	.ham-btn
		span
		span
		span

	//top navigation module
	nav.top-nav
		h2 Разделы
		//nav iteration
		each val in [['Главная', 'index', '.top-nav__links-actie'], ['Ремонт Часов','repair'], ['Часы на продаже', 'shop'], ['Наши работы','pholio'], ['Аксессуары', 'accessories'], ['Обзоры', 'blog'], ['Контакты', 'contacts']]

			a.top-nav__links(href=val[1] + ".html")=val[0]
			//.top-nav__links-actie

		.social-icons
			a(href="//www.facebook.com/watchsochi/?ref=aymt_homepage_panel")
				svg(viewBox="0 0 100 100" class="icon f-btn")
					use(xlink:href="#f-btn")

			a(href="//www.facebook.com/watchsochi/?ref=aymt_homepage_panel")
				svg(viewBox="0 0 100 100" class="icon tw-btn")
					use(xlink:href="#tw-btn")

	//hero section
	section.hero.is-centered
		.logo
			img(src="img/assets/logo.svg")

		h1 ПРОДАЖА И РЕМОНТ ЧАСОВ

		adress Адрес: г. Сочи, ул. Орджоникидзе 11 Тел. : +7 (918) 678-33-66

		//a(href="#send-form").btn.btn-brand-color Запись на сервис

		a(href="#feedback").btn Запись на сервис <span></span>