main#site-main
	//services section
	section.section-padding
		.services
			each val in [['tools', 'Осуществляем ремонт швейцарских часов в городе Сочи'], ['water', 'Проверяем герметичность часов'], ['watch','Продаем швейцарские часы б.у.'], ['access', 'Предлагаем широкий выбор часовых аксессуаров и часовых ремешков'], ['sertif', 'Определяем подлинность часов']]

				.service-item
					svg(viewBox="0 0 100 100" class="icon " + val[0] + "-round-icon")
						use(xlink:href="#" + val[0] + "-round-icon")

					p=val[1]

	//service extemd sections
	//repair
	section
		.service-ext
			.left-side
				header
					h2.rep-title Ремонт и профилактика
					a(href="#") Ремонт часов
				.service-ext__body
					ul
						li Репассаж (чистка и смазка механизма);
						li Полировка корпуса часов;
						li Регулировка точности хода;
						li Сложный ремонт механических часов;
						li Проверка часов на герметичность;
						li Замена элементов питания;
						li Замена ремней и браслетов;
						li Оценка часов;
						li Прием часов на комиссию;
						li Подбор ремней;
						li Подклейка выпавших цифр и рисок;
						li Продажа комисионных часов.
			.right-side
				.right-side__img.rep-img

	//watch
	section
		.service-ext
			.left-side
				header
					h2.watch-title Продажа часов
					a(href="#") Перейти в Каталог часов
				.service-ext__body
					p.
						В нашем салоне вы можете приобрести часы от зарекомендовавших себя на рынке брендов.
					img(src="../img/assets/sale-brands.svg")
			.right-side
				.right-side__img.watch-img

	//folio
	section
		.service-ext
			.left-side
				header
					h2.folio-title Наши работы
					a(href="#") Выполненные работы
				.service-ext__body
					p.
						В нашем салоне вы можете подобрать ремешки для часов,  боксы, а так же другие необходимые вещи.

			.right-side
				.right-side__img.folio-img

	//accessiries
	section
		.service-ext
			.left-side
				header
					h2.access-title Аксессуары
					a(href="#") Подобрать Аксессуары
				.service-ext__body
					p.
						В разделе «Аксессуары» вы можете подобрать ремешки для часов,  боксы, а так же другие необходимые вещи.

			.right-side
				.right-side__img.access-img

	//Text block
	section.section-padding
		.container
			//two column text
			.column-text
				p.
					Любым механическим часам каждые 2-3 года требуется профилактика механизма, так как за этот период часовое масло высыхает и забивается мелкой металлической стружкой, образующейся в процессе трения элементов механизма друг о друга. Отсутствие данной профилактики приводит к ускоренному износу, потери стоимости и серьезным дорогостоящим поломкам.
				p.
					Для проведения данных работ требуется очень серьезное оборудование, знание часового дела и навык работы с мельчайшими деталями, размеры которых, подчас, не превышают 1 мм. Поэтому даже наблюдение за работой мастера при работе с механическими часами доставляет большое эстетическое удовольствие, так как иногда сложно понять как он справляется со всеми этими микроскопическими винтиками, шестеренками и пружинками.
				p.
					Мы постарались наполнить наш салон домашним уютом с теплой и комфортной обстановкой с нотками прованса. В процессе наблюдения за работой мастера, также можно подобрать для себя необходимый часовой аксессуар, будь то часовой ремень или браслет, шкатулка для подзавода механических часов, компактные часовые шкатулки для багажа.
				p.
					Если Вы задумались о приобретении новых швейцарских часов, но бюджет не совсем позволяет, мы готовы помочь Вам в продаже имеющихся часов, так как у нас есть возможность выставить Ваши часы на комиссию с предоставлением всех необходимых документов о приеме Ваших часов под реализацию.

	//Color layout with gradient and background image
	section.section-padding.gradient
		.container
			//Large text quote
			.quote
				p.
					Репассаж – часовой термин, означающий регулярное обслуживание часового механизма, включающий: полную разборку и чистку механизма, смазку, регулировку точности хода, замену поврежденных деталей.


