main#site-main
	section.l-content
		.container
			header.l-text__header
				img(src="../img/assets/fruit.png")
				h1 Кулинарные лавки

			section.content-item
				.side
					p.
						В домашних кулинариях «Оджахури» пахнет теплом грузинского дома. Здесь готовят грузинскую выпечку и десерты, ради одного аромата которых уже хочется проголодаться.
				.side
					img(src="../img/assets/bread.png")

			section.content-item
				.side
					p.
						Заглянув в кулинарию впервые, непременно угоститесь чебуреками и хачапури — горячие, тягучие, с ароматной начинкой и нежнейшим тестом, они сделают вас не только сытым, но и очень довольным. Также захватите с собой свежий горячий лаваш из тандыра и пхали из зеленого лобио — вместе они становятся еще вкуснее.
				.side
					img(src="../img/assets/samsa.png")

			section.content-item
				.side
					p.
						Кроме свежей выпечки и традиционных грузинских закусок в кулинарии «Оджахури» готовят десерты, которые тоже можно взять с собой. По семейным рецептам здесь пекут торты и рулеты (особенно рекомендуем нежнейший фисташковый рулет, любимец наших гостей), готовят домашнее варенье и традиционные грузинские сладости: мацони с медом и каду с изюмом.
				.side
					img(src="../img/assets/hachapuri.png")

			section.content-item
				.side
					p.
						В кулинариях «Оджахури» вы также можете купить на ужин наши фирменные замороженные хинкали, а также грузинские соусы и специи, которые украсят любое приготовленное вами блюдо.
				.side
					img(src="../img/assets/khinkali.png")


	section.l-adresses
			h3 Адреса:

			h1 Москва
			p Садовая-Черногрязская, 22, стр. 1
			p Усачёвский рынок, ул. Усачёва, 26
			p Рынок "Черемушкинский" Ул. Вавилова владение 64 /1 (скоро открытие)

			h1 Королев
			p Проспект Королева 6Г

			h1 Химки
			p ул. Молодежная д.6
			p Юбилейный проспект, 3