label {
  position: absolute;
  color: $primary-color;
  top: 1rem;
  left: 1rem;
}

.label-active {
  top: -1.3rem;
  font-size: .9rem;
}

input[type=text],
input[type=email],
textarea {
  width: 100%;
  padding: 1rem;
  border: none;
  border-bottom: 1px solid $primary-color;
  color: $primary-color;
  background-color: tint($primary-color, 95%);
  margin-bottom: 2rem;
}

textarea {
  height: 11.5rem;
  resize: none;
}

input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  outline: none;
}

