//top navigation section
.top-nav {
  display: none;
  flex-flow: column;
  justify-content: space-between;
  height: 100%;
  padding: 2rem 0;
  //mobile header
  & > h2 {
    text-align: center;
    font-weight: 100;
  }
}

//nav links
.top-nav__links {
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    font-family: $sans-serif-font-family;
    font-size: 1.2rem;
    color: $primary-color;
    text-transform: uppercase;
}


.top-nav__links:hover {
  text-decoration: none;
}

//link states - underline animation
.top-nav__links,
.top-nav__links:visited {
  position: relative;
}

.top-nav__links::after,
.top-nav__links:visited::after {
  content: '';
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background: $secondary-color;
  transition: 0.2s;
  margin-left: 10%;
}

.top-nav__links:hover::after,
.top-nav__links:visited:hover::after,
.top-nav__links-actie::after {
  width: 80%;
}

//social icons
.top-nav .social-icons {
  text-align: center;
}

@include susy-breakpoint($b-medium) {
  //top navigation - wide screen resolution
  .top-nav {
    display: flex;
    flex-flow: row;
    justify-content: center;
    height: 6.25rem;
    padding: 2rem 0;
    position: relative;
    //mobile header
    & > h2 {
      display: none;
    }
  }
  //links
  .top-nav__links {
    //centered content
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    //rules for ancestor flex
    padding:0 1rem;
    font-family: $sans-serif-font-family;
    font-size: .75rem;
    color: $primary-color;
    text-transform: uppercase;
  }

  //fixed nav scrollTop body
  .fixed-nav {
    position: fixed;
    width: 100%;
    height: 6.25rem;
    background-color: white;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
    z-index: 999;
  }

}