// paragraph
.quote {
  @include susy-clearfix();
}

.quote p {
  @include span(10);
  @include pre(1);
  text-align: center;
  color: $white;
  font-family: $sans-serif-font-family;
  font-weight: 100;
  font-size: 1.4rem;
}

@include susy-breakpoint($b-medium) {
  // paragraph
  .quote p {
    @include span(10);
    @include pre(1);
    @include susy-clearfix();
    font-size: 1.75rem;
  }
}