//two column text
.column-text p {
  text-align: justify;
}

//first letter
.column-text p:first-child:first-letter {
  font-size: 4.875rem;
  color: $secondary-color;
  font-weight: 700;
  float: left;
  line-height: 1.5rem;
  margin: 0 .3rem .3rem;
}

.column-text > p:first-child {
  margin: 0;
}

@include susy-breakpoint($b-medium) {
  .column-text {
    @include pre(1);
    @include span(10);
    column-count: 2;
    column-gap: 3rem;
  }
}