@import "util/mixin";
@import "util/fonts";

//Global
$global-font-family: 'Circe', sans-serif;
$global-font-size: 16px;
$global-line-height: 1.5;
$font-smooth: antialiased;

//Colors - не поддтягиваются в phpStorm из-за использования map
$brand-palette: (
        primary: #ffe0af,
        secondary: #afd2c2,
        success: #3adb76,
        warning: #ffae00,
        alert: #ec5840
);

$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #4A4A4A;
$dark-black: #1f1f1f;
$white: #fefefe;


$body-background: $white;
$body-font-color: $black;

@include add-brand-colors;

// Media q breakpoints

$b-small: 0;
$b-medium: 48em; //1024px
$b-large: 75em; //1200px
$b-xlarge: 90em;//1440px
$b-xxlarge: 100em;//1600px

$b-small-only: 0 39.9375em;
$b-medium-only: 39.9375em 64em;
$b-large-only: 64em 75em;
$b-xlarge-only: 75em;

//container width
$container-width: 75em;

//Typography

$header-font-family: 'Kazimir', sans-serif;
$header-font-weight: 100;
$header-color: $body-font-color;
$header-lineheight: 1.2;

$paragraph-lineheight: $global-line-height;

$block-padding: 8rem 0;